<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Course en Cours
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map" style="height: 70%;" ></div>

 <ion-row text-center >
      <ion-col >
          <ion-icon name="arrow-dropup"></ion-icon>
      </ion-col>
  </ion-row>
  <ion-row text-center style="border-radius: 10px 10px 0px 0px">

    <ion-col (click)="recupererPaquet()" style="margin-top: 5%">
      <img src="../../assets/img/demarer.png" width="45%"><br />
      <ion-label>Pacquet recupéré</ion-label>
    </ion-col>

    <ion-col (click)="appelleExpediteurOrDestinataire()" style="margin-top: 5%">
        <img src="../../assets/img/phone.png" width="45%"><br />
        <ion-label>Apeller</ion-label>
    </ion-col>

    <ion-col (click)="cloturerCourse()" style="margin-top: 5%">
      <img src="../../assets/img/valider.png" width="45%"><br />
      <ion-label>Cloturer la course</ion-label>
    </ion-col>

  </ion-row>
  <ion-row text-center >
      <ion-col >
          <ion-progress-bar color="danger" [value]="progress"></ion-progress-bar>
      </ion-col>
  </ion-row>

</ion-content>
