#map {
    height: 100%;
  
}
.Division{
    float: left;
    text-align: center;
     width: 150px;
     height: 10px;
     margin-left: 5px;
     font-size: 120%
 }
 .div1barre {
    position: absolute;
    z-index: 2;
  }
  
  .div2barre {
    background-color: lightblue;
    position: relative;
  }