<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Formulaire d'inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #f="ngForm" >
      <ion-item>
        <ion-input type="text" name="tel" [(ngModel)]="livreur.tel" placeholder="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="password"  [(ngModel)]="livreur.password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="email" [(ngModel)]="livreur.email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="nomComplet"  [(ngModel)]="livreur.nomComplet"  placeholder="Nom Complet"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="matricule"  [(ngModel)]="livreur.matricule"  placeholder="matricule"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="description"  [(ngModel)]="livreur.description"  placeholder="description"></ion-input>
      </ion-item>
      <ion-button type="submit" (click)="addLiv()" color="dark" expand="block">Enregistrer</ion-button>

    </form>
  </ion-card>
  <div text-center>
    <p style="margin-left: 20%">D&eacute;j&agrave; inscrit ? <a routerLink='/connexion' style="text-decoration:none;">Se
      connecter</a></p>
  </div>
</ion-content>
