<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul *ngFor="let l of listExpedition">
    <li><a (click)="presentActionSheet(l)">
      <ion-row>
        <ion-col size="10px">
          <!--<img  src="../../assets/img/expedition.png"> -->
          <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;">
            {{index(l)}}
          </ion-label>
        </ion-col>
        <ion-col size="30px">
          <img src="../../assets/img/expedier.png" width="20px">
        </ion-col>
        <ion-col>
          <ion-label style="color: rgb(12, 1, 1);font-family: 'Times New Roman', Times, serif;font-size: 20px">
            {{l.libelleExpedition}}/{{l.libelleDestination}}<br />
          </ion-label>
        </ion-col>
      </ion-row>
    </a>
    </li>
  </ul>


</ion-content>
