<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>

    <ion-title>Commander Trajet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #f="ngForm" >
      <ion-item>
        <ion-input type="text" name="lieuc" [(ngModel)]="trajet.lieuc" placeholder="Adresse de collecte"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="lieud"  [(ngModel)]="trajet.lieud" placeholder="Adresse de destination"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="nomc" [(ngModel)]="trajet.nomc" placeholder="Nom Complet Destinataire"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="tel" [(ngModel)]="trajet.tel" placeholder="N Tel Destinataire"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="descolis" [(ngModel)]="trajet.descolis" placeholder="Description Colis "></ion-input>
      </ion-item>
      <ion-col class="centrage" (click)="getLocationCoordinates()" style="margin-top: 5%">
        <img  src="assets/img/locate.png" width="10%">
        <ion-label >GPS</ion-label>
      </ion-col>
      <ion-button color="dark" (click)=validerExpedition() type="submit" expand="block">Enregistrer</ion-button>

    </form>


  </ion-card>
</ion-content>
