<ion-header>
  <ion-toolbar>
    <ion-title>Inscription Livreur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form #f="ngForm" (ngSubmit)="addLivreur(f.value)">
      <ion-item>
        <ion-input type="text" name="tel" ngModel placeholder="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" name="password" ngModel placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="email" name="email" ngModel placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="nomComplet" ngModel placeholder="Nom Complet"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="matricule" ngModel placeholder="Matricule Vehicule"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="description" ngModel placeholder="Description Vehicule"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Enregistrer</ion-button>

    </form>


  </ion-card>
</ion-content>
