<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" >
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-list  *ngIf="user" color="dark">
          <ion-menu-toggle color="dark" auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="dark" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>




        <ion-list *ngIf="!user" color="dark">
          <ion-menu-toggle color="dark" auto-hide="false">
            
            <ion-item >
              <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
              <ion-label >
                Connexion
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
