<!--<ion-header>
  <ion-toolbar>
    <ion-title>connexion</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content color="tertiary">
  <form #form="ngForm" (ngSubmit)="connecter()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Connexion!</h3>
          </div><br/>
          <div *ngIf="erroridentifiant">
            <p style="margin-left: 5%;color: black"> Numéro ou mot de passe invalide
              <ion-icon name="alert"></ion-icon>
            </p>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="name" (ionFocus)="hidemessage()" type="text" placeholder="Téléphone" [(ngModel)]="telephone" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="password" (ionFocus)="hidemessage()" type="password" placeholder="mot de passe" [(ngModel)]="pwd" required>
              </ion-input>
            </ion-item>
            <!--<ion-item>
                <ion-input name="confirm" type="password" placeholder="confirmation"  [(ngModel)]="pwdconf" required></ion-input>
              </ion-item>-->
          </div>

          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Se connecter</ion-button>
          </div>

          <div text-center>
            <p style="margin-left: 20%">Je n'ai pas de compte !<a routerLink='/add-client'
                style="text-decoration:none;">
                S'inscrire
              </a></p>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
